# Web_Scraping_Selenium

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
# Lets import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Q-1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

    .1 First get the webpage https://www.naukri.com/
    .2 Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
    .3 Then click the search button
    .4 Then scrape the data for the first 10 jobs results you get.
    .5 Finally create a dataframe of the scraped data.

    . Note: All of the above steps have to be done in code. No step is to be done manually.

In [9]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')

In [10]:
# Connect the URL
url = 'https://www.naukri.com/'
driver.get(url)

# Finding Web elements for each job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

# Write a Search Bar
search_job.send_keys("Data Analyst")

In [11]:
# Serch Location
Serch_location = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
Serch_location

In [13]:
Serch_location.send_keys("Bangalore")

In [14]:
# Search Btn
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn
search_btn.click()

In [18]:
# job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Lead - Data Analyst / Scientist',
 'Senior Data Analyst - Supporting Audits',
 'Senior Data Analyst - KPO',
 'Data Analyst',
 'Financial Data Analyst',
 'Tcs Hiring For Data Analyst / Engineers',
 'Business Data Analyst - Database Design/Mining',
 'BUSINESS ANALYST -DATA SCIENCE-CONSUMER',
 'Financial Data Analyst',
 'Data Analyst']

In [26]:
# Job_Location
location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locations = []

for i in location:
    locations.append(i.text)
locations[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
# Company Name
Comp_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
Comp_names = []

for i in Comp_name:
    Comp_names.append(i.text)
Comp_names[0:10]

['Axim Technologies',
 'Visa',
 'Huquo Consulting Pvt. Ltd',
 'Snaphunt',
 "Moody's",
 'TCS',
 'AugmatrixGo',
 'BRIDGEi2i Analytics Solutions Private Limited',
 "Moody's",
 'Jeeva Organic']

In [29]:
# Experience
experience = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exps = []

for i in experience:
    exps.append(i.text)
exps[0:10]

['12-14 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '3-8 Yrs']

In [30]:
# Create a Data Frame
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = Comp_names
jobs['Experience'] = exps
jobs['Location'] = locations
jobs[0:10]

,Job Title,Company,Experience,Location
0,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Analyst,Snaphunt,0-2 Yrs,Bangalore/Bengaluru
4,Financial Data Analyst,Moody's,0-2 Yrs,Bangalore/Bengaluru
5,Tcs Hiring For Data Analyst / Engineers,TCS,4-9 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
6,Business Data Analyst - Database Design/Mining,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
7,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,BRIDGEi2i Analytics Solutions Private Limited,0-2 Yrs,Bangalore/Bengaluru
8,Financial Data Analyst,Moody's,0-2 Yrs,Bangalore/Bengaluru
9,Data Analyst,Jeeva Organic,3-8 Yrs,Bangalore/Bengaluru

# Q-2. Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
    
    . First get the webpage https://www.naukri.com/
    . Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
    . Then click the search button
    . Then scrape the data for the first 10 jobs results you get.
    . Finally create a dataframe of the scraped data.

In [42]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.naukri.com/'
driver.get(url)

# Finding Web elements for each job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

# Write a Search Bar
search_job.send_keys("Data Scientist")

# Serch Location
Serch_location = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')

Serch_location.send_keys("Bangalore")

# Search Btn
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn
search_btn.click()

In [46]:
# job titles
title_tags1 = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles1 = []

for i in title_tags1:
    job_titles1.append(i.text)
job_titles1[0:10]

['Lead/Senior Data Scientist (NLP)',
 'Commercial Analytics Data Scientist',
 'Lead Data Scientist - NLP/OpenCV',
 'Lead Data Scientist',
 'Lead Data Scientist - Prescriptive Analytics/Predictive Modeling',
 'Lead - Data Analyst / Scientist',
 'Job opening with Wipro For Data Scientist',
 'Data Scientist I',
 'Spark ML Data Scientist',
 'Azure ML Data Scientist']

In [47]:
# Job_Location
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location = []

for i in loc:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [48]:

# Company Name
Comp_name1 = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
Comp_names1 = []

for i in Comp_name1:
    Comp_names1.append(i.text)
Comp_names1[0:10]

['Samya.AI A FRACTAL Entity',
 'Dell',
 'Codersbrain',
 'First American',
 'Codersbrain',
 'Axim Technologies',
 'Wipro',
 'Delhivery',
 'Wipro',
 'TCS']

In [49]:
# Create a Data Frame
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles1
jobs['Location'] = location
jobs['Company'] = Comp_names1
jobs[0:10]

,Job Title,Location,Company
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
1,Commercial Analytics Data Scientist,Bangalore/Bengaluru,Dell
2,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
3,Lead Data Scientist,Bangalore/Bengaluru,First American
4,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
5,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
6,Job opening with Wipro For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro
7,Data Scientist I,Bangalore/Bengaluru,Delhivery
8,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Wipro
9,Azure ML Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru",TCS

# Q.3. In this question you have to scrape data using the filters available on the webpage as shown below:
 - You have to use the location and salary filter.
 - You have to scrape data for “Data Scientist” designation for first 10 job results.
 - You have to scrape the job-title, job-location, company name, experience required.
 -The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [82]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.naukri.com/'
driver.get(url)

# Finding Web elements for each job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

# Write a Search Bar
search_job.send_keys("Data Scientist")

# Search Btn
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn
search_btn.click()

In [69]:
# Serch Location
Serch_location = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')

Serch_location.click()

In [70]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check

salary_check.click()

In [73]:
# job titles
Title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Titles = []

for i in Title:
    Titles.append(i.text)
Titles[0:10]

['Data Science Intern',
 'Data Science - Intern',
 'Data Science Interns',
 'Data Science : Analyst - Manager',
 'Data insight intern',
 'Data Evangelist ( Trainee / Interns)',
 'Senior Data Scientist I',
 'Data Scientist Internship',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC']

In [76]:
# Location
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location = []

for i in loc:
    location.append(i.text)
location[0:10]

['Noida, Bengaluru',
 'Noida',
 'Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, New Delhi, Delhi / NCR']

In [72]:
# Company Name
Comp = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
C_names = []

for i in Comp:
    C_names.append(i.text)
C_names[0:10]

['DataTrained',
 'Mindworksglobal',
 'SiCureMi Healthcare Technologies',
 'Aye Finance (P) Ltd',
 'KocharTech',
 'Right Step Consulting',
 'Delhivery',
 'iHackers Inc',
 'Schlesinger Group',
 'GABA Consultancy services']

In [77]:
# Experience
experience = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exps = []

for i in experience:
    exps.append(i.text)
exps[0:10]

['0-2 Yrs',
 '0-0 Yrs',
 '3-4 Yrs',
 '0-3 Yrs',
 '0-1 Yrs',
 '0-1 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '0-3 Yrs',
 '0-0 Yrs']

In [78]:
# Salary
Sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
Salary = []

for i in Sal:
    Salary.append(i.text)
Salary[0:10]

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,25,000 - 4,75,000 PA.']

In [83]:
# Create a Data Frame
Jobs = pd.DataFrame()
Jobs['Job Title'] = Titles
Jobs['Location'] = location
Jobs['Company'] = C_names
Jobs['Experience'] = exps
Jobs['Salary'] = Salary
Jobs[0:10]

,Job Title,Location,Company,Experience,Salary
0,Data Science Intern,"Noida, Bengaluru",DataTrained,0-2 Yrs,Not disclosed
1,Data Science - Intern,Noida,Mindworksglobal,0-0 Yrs,Not disclosed
2,Data Science Interns,Delhi,SiCureMi Healthcare Technologies,3-4 Yrs,Not disclosed
3,Data Science : Analyst - Manager,Gurgaon/Gurugram,Aye Finance (P) Ltd,0-3 Yrs,Not disclosed
4,Data insight intern,Gurgaon/Gurugram,KocharTech,0-1 Yrs,Not disclosed
5,Data Evangelist ( Trainee / Interns),Gurgaon,Right Step Consulting,0-1 Yrs,Not disclosed
6,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs,Not disclosed
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs,Not disclosed
8,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs,Not disclosed
9,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs,"2,25,000 - 4,75,000 PA."

# Q.N-4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes
- 1-Brand
- 2-Product Description
- 3-Price

In [219]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.flipkart.com/'
driver.get(url)

In [220]:
# Finding Web elements for each job bar using id
search_prod = driver.find_element_by_class_name("_3704LK")
search_prod

In [221]:
# Write a Search Bar
search_prod.send_keys("sunglasses")

In [223]:
# Search_btn
search_btn = driver.find_element_by_class_name('_34RNph')
search_btn
search_btn.click()

In [224]:
# Brand
Brand = driver.find_elements_by_class_name("_2WkVRV")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:40]

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'SRPM',
 'Elligator',
 'ROZZETTA CRAFT',
 'VILLAIN',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'New Specs',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Johaena',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'agera',
 'Rich Club',
 'PIRASO',
 'ROYAL SON']

Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [225]:
Brand = driver.find_elements_by_class_name("_2WkVRV")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:40]

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'SRPM',
 'Elligator',
 'ROZZETTA CRAFT',
 'VILLAIN',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'New Specs',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Johaena',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'agera',
 'Rich Club',
 'PIRASO',
 'ROYAL SON']

In [226]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [227]:
Brand = driver.find_elements_by_class_name("_2WkVRV")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:20]

['Rich Club',
 'PHENOMENAL',
 'Badfella',
 'ROZZETTA CRAFT',
 'IDEE',
 'hipe',
 'Singco India',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Silver Kartz',
 'Urbanic',
 'ROYAL SON',
 'Elligator',
 'IDEE',
 'ROYAL SON',
 'Anemone',
 'SUNBEE',
 'kingsunglasses',
 'AISLIN',
 'ROZZETTA CRAFT']

In [228]:
Prod_Des = driver.find_elements_by_class_name("IRpwTa")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:40]

['UV Protection Round Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses, Nigh...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (88)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Round, Oval Sunglasses (54)',
 'Mirrored, UV Protection Aviator Sunglasses (18)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (32)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (52)',
 'Polarized, UV Protection Cat-eye Sunglasses (55)']

In [229]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [230]:
Prod_Des = driver.find_elements_by_class_name("IRpwTa")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:40]

['by Lenskart UV Protection Aviator Sunglasses (53)',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (49)']

In [231]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [232]:
Prod_Des = driver.find_elements_by_class_name("IRpwTa")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:20]

['Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient, Mirrored, Riding Glasses, Nigh...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (88)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Round Sunglasses (50)',
 'Polarized Rectangular Sunglasses (59)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (59)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...']

In [233]:
Price = driver.find_elements_by_class_name("_30jeq3")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:40]

['₹1,139',
 '₹189',
 '₹196',
 '₹426',
 '₹599',
 '₹189',
 '₹1,339',
 '₹498',
 '₹359',
 '₹255',
 '₹809',
 '₹499',
 '₹355',
 '₹349',
 '₹211',
 '₹649',
 '₹472',
 '₹1,209',
 '₹799',
 '₹499',
 '₹266',
 '₹1,329',
 '₹449',
 '₹353',
 '₹759',
 '₹164',
 '₹325',
 '₹1,066',
 '₹189',
 '₹156',
 '₹760',
 '₹569',
 '₹399',
 '₹227',
 '₹1,289',
 '₹649',
 '₹261',
 '₹305',
 '₹1,199',
 '₹459']

In [234]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [235]:
Price = driver.find_elements_by_class_name("_30jeq3")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:40]

['₹999',
 '₹999',
 '₹759',
 '₹188',
 '₹188',
 '₹248',
 '₹383',
 '₹522',
 '₹165',
 '₹200',
 '₹259',
 '₹426',
 '₹1,089',
 '₹271',
 '₹200',
 '₹999',
 '₹262',
 '₹189',
 '₹348',
 '₹426',
 '₹639',
 '₹190',
 '₹309',
 '₹426',
 '₹156',
 '₹449',
 '₹181',
 '₹569',
 '₹789',
 '₹359',
 '₹359',
 '₹999',
 '₹200',
 '₹276',
 '₹474',
 '₹664',
 '₹196',
 '₹165',
 '₹299',
 '₹999']

In [237]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [238]:
Price = driver.find_elements_by_class_name("_30jeq3")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:20]

['₹296',
 '₹287',
 '₹187',
 '₹649',
 '₹169',
 '₹245',
 '₹699',
 '₹661',
 '₹749',
 '₹224',
 '₹459',
 '₹349',
 '₹759',
 '₹232',
 '₹239',
 '₹206',
 '₹799',
 '₹360',
 '₹299',
 '₹625']

# Q.No-5-Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [11]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [12]:
All_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[5]/div/a/div/span")
All_btn
All_btn.click()

In [14]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings = []

for i in rating:
    ratings.append(i.text)
ratings[:10]

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [15]:
Review_summery = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
Review = []

for i in Review_summery:
    Review.append(i.text)
Review[:10]

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [16]:
Desc = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
Descs = []

for i in Desc:
    Descs.append(i.text)
Descs[:10]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [17]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [18]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings = []

for i in rating:
    ratings.append(i.text)
ratings[:10]

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [19]:
Review_summery = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
Review = []

for i in Review_summery:
    Review.append(i.text)
Review[:10]

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Classy product',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny']

In [20]:
Desc = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
Descs = []

for i in Desc:
    Descs.append(i.text)
Descs[:10]

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE']

# Q.No.6- Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field
- Brand
- Product Description
- Price

In [3]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.flipkart.com/'
driver.get(url)

In [9]:
# Finding Web elements for each job bar using id
search_prod = driver.find_element_by_class_name("_3704LK")
search_prod

In [10]:
# Write a Search Bar
search_prod.send_keys("sneakers")

In [12]:
# Search_btn
search_btn = driver.find_element_by_class_name('L0Z3Pu')
search_btn
search_btn.click()

In [13]:
# Brand
Brand = driver.find_elements_by_class_name("_2WkVRV")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:40]

['Echor',
 'Jabra',
 'Magnolia',
 'luxury fashion',
 'URBANBOX',
 'Stefano Rads',
 'Labbin',
 'CLYMB',
 'Extoes',
 'D-SNEAKERZ',
 'Trendmode',
 'KNIGHT WALKERS',
 'SCATCHITE',
 'Shoes Bank',
 'ASTEROID',
 'Jack Diamond',
 'K- FOOTLANCE',
 'HOTSTYLE',
 'ganpati traders',
 'PUMA',
 'Kraasa',
 'Numenzo',
 'Robbie jones',
 'VORII',
 'CLYMB',
 'Echor',
 'BIRDE',
 'VZAZZY',
 'Pieds',
 'Arohi',
 'Numenzo',
 'FOOTSTAIR',
 'TR',
 'Rzisbo',
 'India hub',
 'Baogi',
 'Kraasa',
 'RapidBox',
 'BRUTON',
 'Jack Diamond']

In [14]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [15]:
Brand = driver.find_elements_by_class_name("_2WkVRV")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:40]

['aadi',
 'ASTEROID',
 'Robbie jones',
 'PUMA',
 'World Wear Footwear',
 'believe',
 'SPARX',
 'Bucik',
 'HRDK',
 'Zorth',
 'aadi',
 'Shuzer68',
 'India hub',
 'SPARX',
 'Robbie jones',
 'Jack Diamond',
 'Zorth',
 'RapidBox',
 'BRUTON',
 'PUMA',
 'DUNKASTON',
 'SPARX',
 'World Wear Footwear',
 'PUMA',
 'RapidBox',
 'PUMA',
 'Echor',
 'PUMA',
 'Kreverse',
 'Xtoon',
 'SCATCHITE',
 'PUMA',
 'Robbie jones',
 'Rzisbo',
 'D-SNEAKERZ',
 'FILA',
 'BIRDE',
 'RODDICK SHOES',
 'Airland',
 'FILA']

In [16]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [19]:
Brand = driver.find_elements_by_class_name("_2WkVRV")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:20]

['CALCADOS',
 'Kraasa',
 'KANEGGYE',
 'CLYMB',
 'BRUTON',
 'Robbie jones',
 'PUMA',
 'KNIGHT WALKERS',
 'Echor',
 'BRUTON',
 'BIRDE',
 'Jack Diamond',
 'Ktiz',
 'Tying',
 'Vellinto',
 'PUMA',
 '3SIX5',
 'aadi',
 'CLYMB',
 'PUMA']

In [20]:
Prod_Des = driver.find_elements_by_class_name("IRpwTa")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:40]

["Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Classy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Comfortable & light weight Sneakers For Men',
 'Sneakers Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sports Running Shoes Sneakers For Men',
 'X-Ray 2 Square Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 'GESAR Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers for men(black_7) Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Ferrari Neo Cat Sneakers For Men']

In [21]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [22]:
Prod_Des = driver.find_elements_by_class_name("IRpwTa")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:40]

['Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'RS-Z Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Sneakers for men(black_6) Sneakers For Men',
 'SM439G Sneakers For Men',
 'Unisex Comfortable Casual Daily Wear | Gym Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Blue Synthetic Leather Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'SM-322 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Rick Point NU Sneakers For Men',
 'Stylish & Trendy Sneakers For Men',
 'Puma Smash v2 L Perf Puma White-Puma Whi Sneakers For M...',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'RS-X Mix Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Sneakers For Men',
 'City Rider Electric Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'X-Ray Square Scary Sneakers For Men',
 'Combo Pack of 2 Casual shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'x KL Jack Sneakers For Men']

In [23]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [26]:
Prod_Des = driver.find_elements_by_class_name("IRpwTa")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:20]

['Trendy Fashion Combo Pack of 2 Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Walking/Outdoor/Running Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Acrux V1 Sneakers For Men',
 'Sneakers For Men',
 "Men's Canvas Low Top Sneakers Lace-up Classic Casual Sn...",
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Model name: New Latest Affordable Range of Combo Pack o...',
 'Casual Sneakrs For Men Sneakers For Men',
 'Comfortable & light weight Sneakers For Men',
 '1154 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [27]:
Price = driver.find_elements_by_class_name("_30jeq3")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:40]

['₹569',
 '₹689',
 '₹398',
 '₹449',
 '₹220',
 '₹251',
 '₹499',
 '₹656',
 '₹948',
 '₹348',
 '₹259',
 '₹699',
 '₹398',
 '₹331',
 '₹499',
 '₹1,249',
 '₹489',
 '₹298',
 '₹189',
 '₹599',
 '₹444',
 '₹426',
 '₹474',
 '₹424',
 '₹649',
 '₹499',
 '₹299',
 '₹549',
 '₹299',
 '₹398',
 '₹407',
 '₹1,419',
 '₹599',
 '₹549',
 '₹499',
 '₹1,419',
 '₹444',
 '₹680',
 '₹339',
 '₹539']

In [28]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [29]:
Price = driver.find_elements_by_class_name("_30jeq3")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:40]

['₹399',
 '₹499',
 '₹451',
 '₹9,999',
 '₹199',
 '₹424',
 '₹799',
 '₹6,999',
 '₹367',
 '₹498',
 '₹290',
 '₹1,739',
 '₹429',
 '₹891',
 '₹499',
 '₹1,999',
 '₹499',
 '₹640',
 '₹305',
 '₹2,029',
 '₹449',
 '₹764',
 '₹599',
 '₹3,359',
 '₹630',
 '₹2,199',
 '₹499',
 '₹3,079',
 '₹259',
 '₹499',
 '₹398',
 '₹6,049',
 '₹474',
 '₹599',
 '₹384',
 '₹3,999',
 '₹599',
 '₹499',
 '₹190',
 '₹1,319']

In [30]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [32]:
Price = driver.find_elements_by_class_name("_30jeq3")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:20]

['₹498',
 '₹449',
 '₹399',
 '₹649',
 '₹536',
 '₹499',
 '₹1,759',
 '₹259',
 '₹386',
 '₹530',
 '₹535',
 '₹649',
 '₹499',
 '₹999',
 '₹749',
 '₹649',
 '₹259',
 '₹549',
 '₹699',
 '₹9,999']

In [35]:
Discount = driver.find_elements_by_class_name("_3Ay6Sb")
Discounts = []

for i in Discount:
    Discounts.append(i.text)
Discounts[0:40]

['62% off',
 '42% off',
 '60% off',
 '65% off',
 '77% off',
 '64% off',
 '50% off',
 '31% off',
 '36% off',
 '47% off',
 '74% off',
 '42% off',
 '60% off',
 '66% off',
 '50% off',
 '56% off',
 '51% off',
 '70% off',
 '62% off',
 '45% off',
 '55% off',
 '78% off',
 '52% off',
 '56% off',
 '50% off',
 '40% off',
 '51% off',
 '70% off',
 '60% off',
 '68% off',
 '51% off',
 '70% off',
 '45% off',
 '61% off',
 '57% off',
 '55% off',
 '31% off',
 '73% off',
 '50% off',
 '50% off']

In [36]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next_page_btn
Next_page_btn.click()

In [37]:
Discount = driver.find_elements_by_class_name("_3Ay6Sb")
Discounts = []

for i in Discount:
    Discounts.append(i.text)
Discounts[0:40]

['80% off',
 '75% off',
 '54% off',
 '70% off',
 '60% off',
 '57% off',
 '1% off',
 '63% off',
 '50% off',
 '41% off',
 '42% off',
 '78% off',
 '15% off',
 '50% off',
 '30% off',
 '50% off',
 '35% off',
 '76% off',
 '52% off',
 '70% off',
 '15% off',
 '73% off',
 '42% off',
 '36% off',
 '45% off',
 '66% off',
 '77% off',
 '74% off',
 '66% off',
 '60% off',
 '30% off',
 '52% off',
 '40% off',
 '61% off',
 '50% off',
 '60% off',
 '50% off',
 '61% off',
 '30% off',
 '50% off']

In [38]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next_page_btn
Next_page_btn.click()

In [39]:
Discount = driver.find_elements_by_class_name("_3Ay6Sb")
Discounts = []

for i in Discount:
    Discounts.append(i.text)
Discounts[0:20]

['50% off',
 '55% off',
 '20% off',
 '56% off',
 '78% off',
 '50% off',
 '56% off',
 '74% off',
 '74% off',
 '78% off',
 '64% off',
 '56% off',
 '50% off',
 '49% off',
 '42% off',
 '35% off',
 '48% off',
 '72% off',
 '53% off',
 '25% off']

# Q.No -7- Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
Andthen scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [42]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [46]:
Price = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [48]:
Color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [55]:
# Brand
Brand = driver.find_elements_by_class_name("product-brand")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:50]

['PUMA Motorsport',
 'Puma',
 'Puma',
 'Puma',
 'Saint G',
 'Puma',
 'RARE RABBIT',
 'Cole Haan',
 'Calvin Klein',
 'ASICS',
 'Bugatti',
 'Bugatti',
 'Saint G',
 'DAVINCHI',
 'DAVINCHI',
 'Geox',
 'RARE RABBIT',
 'Saint G',
 'Heel & Buckle London',
 'Saint G',
 'Saint G',
 'Puma',
 'Geox',
 'Columbia',
 'Bugatti',
 'Tommy Hilfiger',
 'J.FONTINI',
 'Xtep',
 'J.FONTINI',
 'Louis Philippe',
 'J.FONTINI',
 'DAVINCHI',
 'Geox',
 'DAVINCHI',
 'DAVINCHI',
 'Geox',
 'Geox',
 'Pavers England',
 'Saint G',
 'Geox',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'DAVINCHI',
 'Pavers England',
 'Pavers England',
 'Saint G',
 'Pavers England',
 'Saint G',
 'Saint G']

In [50]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a").click()

In [52]:
# Brand
Brand = driver.find_elements_by_class_name("product-brand")
Brands = []

for i in Brand:
    Brands.append(i.text)
Brands[0:100]

['Saint G',
 'Saint G',
 'Saint G',
 'Geox',
 'Saint G',
 'Heel & Buckle London',
 'Saint G',
 'Saint G',
 'Saint G',
 'Saint G',
 'Saint G',
 'Saint G',
 'Saint G',
 'Geox',
 'MANGO',
 'fitflop',
 'Saint G',
 'Cole Haan',
 'Nike',
 'Saint G',
 'ALDO',
 'Hush Puppies',
 'Skechers',
 'Skechers',
 'Hush Puppies',
 'Hush Puppies',
 'Nike',
 'Hush Puppies',
 'ECCO',
 'Hush Puppies',
 'Saint G',
 'Bugatti',
 'ALDO',
 'Heel & Buckle London',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Saint G',
 'Saint G',
 'Saint G',
 'ECCO',
 'ECCO',
 'MANGO',
 'ECCO',
 'Puma',
 'MANGO',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'Pavers England',
 'J.FONTINI']

In [56]:
Prod_Des = driver.find_elements_by_class_name("product-product")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:100]

['Unisex Mercedes F1 Sneakers',
 'Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Electrify Nitro Running',
 'Men Mid-Top Chelsea Boots',
 'Women Magnify Nitro Shoes',
 'Men Leather Flat Boots',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Solid Suede Sneakers',
 'Men Colourblocked PU Sneakers',
 'Men Running Shoes',
 'Men Textured Leather High-Top Flat Boots',
 'Men Leather Chelsea Boots',
 'Men Solid Leather Formal Derbys',
 'Men Textured Formal Leather Loafers',
 'Men Leather Flat Boots',
 'Men Textured Leather Loafers',
 'Leather Wedge Heeled Boots with Buckles',
 'Men Formal Leather Derby',
 'Suede High-Top Flatform Heeled Boots',
 'Embellished Leather Block Heeled Boots',
 'Women Velocity NITRO Runners',
 'Women Leather Pumps',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Black Walking Shoes',
 'Women Hybrid Leather Sneakers',
 'Men Textured Leather Loafers',
 'Men Running Shoes',
 'Men Textured Leather Loafers',
 'Men Leather Formal Slip-Ons',
 'Men Black Leather Loafers',
 'Ustraa black',
 'Men Leather Loafers',
 'Men Formal Leather Slip-Ons',
 'Men Textured Formal Leather Loafers',
 'Women Solid Leather Pumps',
 'Women Solid Leather Pumps',
 'Men Leather Driving Shoes',
 'Women Leather Heeled Boots',
 'Men Leather Formal Derbys',
 'Women Open Toe Flats',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Men Textured Leather Formal Slip-Ons',
 'Men Solid Leather Formal Loafers',
 'Men Textured Leather Formal Slip-On Shoes',
 'Leather Block Heeled Boots',
 'Men Solid Leather Formal Derbys',
 'Leather Kitten Heeled Boots',
 'Leather Block Heeled Boots with Bows']

In [58]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a").click()

In [59]:
Prod_Des = driver.find_elements_by_class_name("product-product")
Prod_Desc = []

for i in Prod_Des:
    Prod_Desc.append(i.text)
Prod_Desc[0:100]

['Leather Platform Heeled Boots',
 'Suede Party High-Top Block Heeled Boots',
 'Women Chunky Sneakers',
 'Textured Leather Party Kitten Heeled Boots',
 'Men Solid Leather Formal Loafers',
 'Leather Boots with Buckles',
 'Women High-Top Heeled Boots',
 'Woman Black Leather Boots',
 'Leather Block Heeled Boots with Buckles',
 'Embellished Flatform Boots',
 'Leather Block Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Leather High-Top Flat Boots',
 'Women Leather Penny Loafers',
 'Women Textured Slip-On Sneakers',
 'Women Leather Loafers',
 'Women Leather Sneakers',
 'Men Printed Sneakers',
 'Men Zoom Span 4 Running Shoes',
 'Women Leather Heeled Boots',
 'Men Solid Leather Formal Slip-Ons',
 'Men Balance Anchor Walking',
 'Men Go Run Hyper Burst Running',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 "Men BlazerLow '77 Sneakers",
 'Men Formal Derbys',
 'Helsinki Bike Toe Lace Shoes',
 'Men Solid Leather Formal Derbys',
 'Leather Block Heeled Boots',
 'Men Walking Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Penny Loafers',
 'Men Solid Formal Slip-Ons',
 'Men Solid Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Kitten Heeled Boots',
 'Women Leather Heeled Boots',
 'Leather Stiletto Pumps',
 'Women Textured Leather Sneakers',
 'Women Mid Top Chunky Flat Boot',
 'Women Ballerinas Flats',
 'Women Eternity NITRO Shoes',
 'Women WovenDesign Sports Shoes',
 'Men Lightweight Sneakers',
 'Women HOVR Sonic 4 Running',
 'Men Textured Leather Loafers',
 'Men Solid Loafers',
 'Women Leather High-Top Flat Boots']

In [63]:
Price = driver.find_elements_by_class_name("product-price")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:100]

['Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 7990',
 'Rs. 12150Rs. 13500(10% OFF)',
 'Rs. 9546Rs. 12900(26% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 7699',
 'Rs. 7990',
 'Rs. 8499',
 'Rs. 8490',
 'Rs. 8990',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 10990',
 'Rs. 7499',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8550Rs. 9500(Rs. 950 OFF)',
 'Rs. 8999',
 'Rs. 8910Rs. 9900(Rs. 990 OFF)',
 'Rs. 12510Rs. 13900(10% OFF)']

In [64]:
Next_page_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a").click()

Price = driver.find_elements_by_class_name("product-price")
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:100]

['Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 9450Rs. 10500(10% OFF)',
 'Rs. 9999',
 'Rs. 11954Rs. 13900(14% OFF)',
 'Rs. 11990',
 'Rs. 8505Rs. 10500(19% OFF)',
 'Rs. 9869Rs. 13900(29% OFF)',
 'Rs. 11250Rs. 12500(10% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 8505Rs. 10500(19% OFF)',
 'Rs. 9810Rs. 10900(Rs. 1090 OFF)',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 7999',
 'Rs. 7500Rs. 9500(Rs. 2000 OFF)',
 'Rs. 10999',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7195',
 'Rs. 13050Rs. 14500(10% OFF)',
 'Rs. 8999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7195',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 12675Rs. 16900(Rs. 4225 OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 9999',
 'Rs. 8490',
 'Rs. 13674Rs. 15900(14% OFF)',
 'Rs. 12905Rs. 14500(11% OFF)',
 'Rs. 7921Rs. 8900(11% OFF)',
 'Rs. 12510Rs. 13900(10% OFF)',
 'Rs. 12999',
 'Rs. 13999',
 'Rs. 7590Rs. 7990(5% OFF)',
 'Rs. 8999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7590Rs. 7990(5% OFF)',
 'Rs. 7999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 10999',
 'Rs. 8990',
 'Rs. 12599Rs. 17999(30% OFF)']

# Q.No 8- Go to webpage https://www.amazon.in/.

Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After
- Title
- Ratings
- Price

In [92]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.amazon.in/'
driver.get(url)

# Finding Web elements for each job bar using id
search_pro = driver.find_element_by_id("twotabsearchtextbox")
search_pro

# Write a Search Bar
search_pro.send_keys("Laptop")

# Search Btn
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [93]:
Seemore = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span').click()

In [94]:
I_7 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div/span').click()

In [35]:
Title_tags = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
titles = []

for i in Title_tags:
    titles.append(i.text)
titles[0:10]

['Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Convertible Laptop(16GB/512GB SSD/Windows 11/Office 2021/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg),82BH00HWIN',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PEZ-HN105TS',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /Graphite Grey/1.5Kg), 82HS00W4IN']

In [57]:
rating = driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
Ratings = []

for i in rating:
    Ratings.append(i.text)
Ratings[0:10]

['9', '56', '1,011', '110', '1', '6', '48', '27', '8', '80']

In [86]:
Price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
Prices = []

for i in Price:
    Prices.append(i.text)
Prices[0:10]

['94,700',
 '86,990',
 '57,990',
 '99,990',
 '59,990',
 '89,990',
 '99,990',
 '86,990',
 '95,990',
 '88,990']

# Q.No-9. Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

In [139]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [140]:
# Finding Web elements for each job bar using id
search_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()

In [159]:
# Finding Web elements for each job bar using id
search_Job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_Job

In [160]:
# Write a Search Bar 
search_Job.send_keys("Data Scientist")

In [161]:
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button').click()

In [163]:
search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i').click()

In [164]:
sslect_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label').click()

In [204]:
# Company Name
Comp_name = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
Comp_names = []

for i in Comp_name:
    Comp_names.append(i.text)
Comp_names[0:20]

['Ameriprise Financial',
 'Paytm',
 'Jubilant Foodworks Limited',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'RMS Risk Management Solutions',
 'Paytm']

In [225]:
# No. of days ago when job was posted
posted = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
posteds = []

for i in posted:
    posteds.append(i.text)
posteds[0:20:2]

['1d ago',
 '7d ago',
 '24d ago',
 '8d ago',
 '9d ago',
 '20d ago',
 '20d ago',
 '20d ago',
 '2d ago',
 '28d ago']

In [187]:
# Rating of the company.
Rating = driver.find_elements_by_xpath('//span[@class="body-small"]')
ratings = []

for i in Rating:
    ratings.append(i.text)
ratings[0:20]

['4.0', '3.7', '3.9', '3.7', '3.7', '4.1', '4.1', '4.1', '3.5', '3.7']

In [224]:
len(Comp_names),len(posteds),len(ratings)

(10, 20, 10)

In [214]:
# Create a Data Frame
Jobs = pd.DataFrame()
Jobs['Company'] = Comp_names
Jobs['Ratings'] = ratings
Jobs[0:10]

                         Company Ratings
0           Ameriprise Financial     4.0
1                          Paytm     3.7
2     Jubilant Foodworks Limited     3.9
3                   CHT Sapiense     3.7
4                   CHT Sapiense     3.7
5                       GI Group     4.1
6                       GI Group     4.1
7                       GI Group     4.1
8  RMS Risk Management Solutions     3.5
9                          Paytm     3.7

# Q.No -10Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [246]:
driver = webdriver.Chrome(r'C:\Users\Mukti\Downloads\chromedriver_win32\chromedriver.exe')
# Connect the URL
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [247]:
# Finding Web elements for each job bar using id
search_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()

In [241]:
# Finding Web elements for each job bar using id
search_Job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
search_Job

In [252]:
Ser_jobs = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [255]:
# Write a Search Bar 
Ser_jobs.send_keys("Data Scientist")

In [262]:
# Company Name
Comp_name = driver.find_elements_by_xpath('//div[@class="name"]')
Comp_names = []

for i in Comp_name:
    Comp_names.append(i.text)
Comp_names[0:10]

['Walmart\nbased on 10 salaries',
 'Ab Inbev\nbased on 22 salaries',
 'ZS\nbased on 14 salaries',
 'Fractal Analytics\nbased on 72 salaries',
 'Optum\nbased on 23 salaries',
 'UnitedHealth\nbased on 49 salaries',
 'Tiger Analytics\nbased on 27 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 42 salaries']

In [286]:
# Experoence
Exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
Exps = []

for i in Exp:
    Exps.append(i.text)
Exps[0:10]

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp']

In [294]:
# Medium/Minimum/maximum_salary
Salary = driver.find_elements_by_xpath('//div[@class="salary-range-wrapper"]')
Salarys = []

for i in Salary:
    Salarys.append(i.text)
Salarys[0:10]

['₹ 28.7L\n₹ 17.7L\n₹ 35.0L',
 '₹ 19.5L\n₹ 15.0L\n₹ 25.0L',
 '₹ 15.8L\n₹ 9.8L\n₹ 20.0L',
 '₹ 15.0L\n₹ 9.5L\n₹ 22.0L',
 '₹ 15.0L\n₹ 11.0L\n₹ 21.3L',
 '₹ 13.5L\n₹ 7.2L\n₹ 20.5L',
 '₹ 13.5L\n₹ 8.3L\n₹ 18.5L',
 '₹ 12.7L\n₹ 10.0L\n₹ 21.0L',
 '₹ 12.4L\n₹ 8.5L\n₹ 15.0L',
 '₹ 11.9L\n₹ 5.8L\n₹ 21.5L']

In [295]:
# Create a Data Frame
df = pd.DataFrame()
df['Company'] = Comp_names
df['Exp'] = Exps
df[Salary] = Salarys
df[0:10]

,Company,Exp,"<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""d239a351-3db4-4045-b6f5-3d963b604e26"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""a14a7d5d-de71-4bad-bd4f-d5ebc2584fd1"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""7fcbf85a-7256-4724-a237-441079a4bfbd"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""7a197ea9-2442-4564-be81-02502107d07a"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""f8416316-6be5-40a1-a7e0-1024f0d545f6"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""fbedd8e3-4963-4215-842b-37af2c9c1ea6"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""5bf3fe02-3e35-483f-a17a-74b95e5de0da"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""1b339f68-68ad-4fb2-8d50-e094b345769f"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""7aaa1d0d-6e09-4ec2-ad2d-66739fa4a60d"")>","<selenium.webdriver.remote.webelement.WebElement (session=""480ffa8e8fce1a246a3e17514119abef"", element=""bb3a2980-7df1-4718-a519-b3bf84bdf2bb"")>"
0,Walmart\nbased on 10 salaries,Data Scientist\n . \n3 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
1,Ab Inbev\nbased on 22 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
2,ZS\nbased on 14 salaries,Data Scientist\n . \n2 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
3,Fractal Analytics\nbased on 72 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
4,Optum\nbased on 23 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
5,UnitedHealth\nbased on 49 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
6,Tiger Analytics\nbased on 27 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
7,Verizon\nbased on 14 salaries,Data Scientist\n . \n4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
8,Ganit Business Solutions\nbased on 13 salaries,Data Scientist\n . \n4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L
9,Ericsson\nbased on 42 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 28.7L\n₹ 17.7L\n₹ 35.0L,₹ 19.5L\n₹ 15.0L\n₹ 25.0L,₹ 15.8L\n₹ 9.8L\n₹ 20.0L,₹ 15.0L\n₹ 9.5L\n₹ 22.0L,₹ 15.0L\n₹ 11.0L\n₹ 21.3L,₹ 13.5L\n₹ 7.2L\n₹ 20.5L,₹ 13.5L\n₹ 8.3L\n₹ 18.5L,₹ 12.7L\n₹ 10.0L\n₹ 21.0L,₹ 12.4L\n₹ 8.5L\n₹ 15.0L,₹ 11.9L\n₹ 5.8L\n₹ 21.5L